<div class="footer-box">
    <div class="skew-footer-shadow">
        <div class="skew-footer"> </div>
    </div>

    <div class="footer">
        <div class="grid-x">
            <div class="cell small-4 large-3">
                <a href="{{ path('homepage') }}">
                    <img  id='logo' src="{{ asset('/assets/images/logo/logo.png') }}" alt="logo" width="200px">
                </a>
            </div>
            <div class="cell small-4 large-2 white">
                <h4>Adres</h4>
                <p>Lorem ipsum dolor<br>
                sit amet, consectetur<br>
                adipiscing elit.<p>
            </div>
            <div class="cell small-4 large-2 white">
                <h4>Privacy</h4>
                <p>Lorem ipsum dolor<br>
                sit amet, consectetur<br>
                adipiscing elit.<p>
            </div>
        </div>
    </div>
</div>