<div class="footer-box">
    <div class="skew-footer-shadow">
        <div class="skew-footer"> </div>
    </div>

    <div class="footer">
        <a href="{{ path('homepage') }}">
            <img  id='logo' src="{{ asset('/assets/images/logo/logo.png') }}" alt="logo" width="200px">
        </a>
    </div>
</div>