<div class='header'>
    <div class="row">
        <div class="small-12 collumns">
            <div class='header-logo'>
                <a href="{{ path('homepage') }}">
                    <img  id='logo' src="{{ asset('/assets/images/logo/logo.png') }}" alt="logo" width="200px">
                </a>
            </div>
            <div class="skew-header-shadow">
                <div class="skew-header"> </div>
            </div>
        </div>
    </div>
</div>